:root {
  --primary-color: #f97316;
  --secondary-color: #1f2937;
  --accent-color: #ffb700;
  --dark-color: #1f2937;
  --light-color: #f7fafc;
  --gray-color: #718096;
  --success-color: #38b2ac;
  --error-color: #e53e3e;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --transition: all 0.3s ease;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --gradient: linear-gradient(135deg, #f97316 0%, #1f2937 100%);
}